# Calculo de Productividad

In [1]:
import pandas as pd
import numpy as np

In [2]:
dict_gral = pd.read_excel('../Data/horarios MADRE.xlsx', sheet_name=None)

In [3]:
print(dict_gral)

{'BERNALD Alberto':       QUINCENA       Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0          2.0  Bernald Alberto  2023-07-01 07:49:21         0.0    ENTRADA
1          2.0  Bernald Alberto  2023-07-01 12:03:48         1.0     SALIDA
2          2.0  Bernald Alberto  2023-07-04 07:22:50         0.0    ENTRADA
3          2.0  Bernald Alberto  2023-07-04 12:01:06         1.0     SALIDA
4          2.0  Bernald Alberto  2023-07-04 15:12:28         0.0    ENTRADA
...        ...              ...                  ...         ...        ...
1312       2.0  Bernald Alberto  2025-08-20 06:53:18         0.0    ENTRADA
1313       2.0  Bernald Alberto  2025-08-20 17:00:03         1.0     SALIDA
1314       2.0  Bernald Alberto  2025-08-21 06:52:34         0.0    ENTRADA
1315       2.0  Bernald Alberto  2025-08-21 16:59:12         1.0     SALIDA
1316       2.0  Bernald Alberto  2025-08-22 06:54:10         0.0    ENTRADA

     HS NORMALES HS NOCTURNAS  EXTRAS  TOTAL EX
0            NaN          NaN     NaN       NaN
1            NaN          NaN     NaN       4.0
2            NaN          NaN     NaN       NaN
3            4.5          NaN     NaN       NaN
4            NaN          NaN     NaN       NaN
...          ...          ...     ...       ...
1312         NaN          NaN     NaN       NaN
1313         NaN          NaN     NaN       NaN
1314         NaN          NaN     NaN       NaN
1315         NaN          NaN     NaN       NaN
1316         NaN          NaN     NaN       NaN

[1317 rows x 9 columns], 'ARANDA Marcelo':       QUINCENA      Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0          3.0  Aranda Marcelo  2023-07-01 03:44:40         0.0    ENTRADA
1          3.0  Aranda Marcelo  2023-07-01 11:01:57         1.0     SALIDA
2          3.0  Aranda Marcelo  2023-07-04 08:26:17         0.0    ENTRADA
3          3.0  Aranda Marcelo  2023-07-04 18:00:03         1.0     SALIDA
4          3.0  Aranda Marcelo  2023-07-04 23:45:40         0.0    ENTRADA
...        ...             ...                  ...         ...        ...
1187       3.0  Aranda Marcelo  2025-08-20 08:01:50         1.0     SALIDA
1188       3.0  Aranda Marcelo  2025-08-20 22:39:51         0.0    ENTRADA
1189       3.0  Aranda Marcelo  2025-08-21 08:00:52         1.0     SALIDA
1190       3.0  Aranda Marcelo  2025-08-21 22:47:19         0.0    ENTRADA
1191       NaN             NaN                  NaN         NaN        NaN

     HS NORMALES  HS NOCTURNAS EXTRAS  TOTAL EX Unnamed: 9
0            NaN           NaN    NaN       NaN        NaN
1            NaN           NaN    4*2       8.0        NaN
2            NaN           NaN    NaN       NaN        NaN
3              9           NaN    1*2       2.0        NaN
4            NaN           NaN    NaN       NaN        NaN
...          ...           ...    ...       ...        ...
1187           9           7.0    NaN       NaN        NaN
1188         NaN           NaN    NaN       NaN        NaN
1189           9           7.0    NaN       NaN        NaN
1190         NaN           NaN    NaN       NaN        NaN
1191           9           7.0    NaN       NaN        NaN

[1192 rows x 10 columns], 'MORETTI Marcelo':      QUINCENA               Unnamed: 1           Unnamed: 2  Unnamed: 3  \
0           4  Moretti Marcelo Gabriel  2023-07-03 04:51:04         0.0
1           4  Moretti Marcelo Gabriel  2023-07-03 09:31:26         1.0
2           4  Moretti Marcelo Gabriel  2023-07-04 04:49:06         0.0
3           4  Moretti Marcelo Gabriel  2023-07-04 14:20:21         1.0
4           4  Moretti Marcelo Gabriel  2023-07-05 04:55:50         0.0
...       ...                      ...                  ...         ...
2006        4          Moretti Marcelo  2025-08-20 03:56:57         0.0
2007        4          Moretti Marcelo  2025-08-20 13:01:04         1.0
2008        4          Moretti Marcelo  2025-08-21 03:57:33         0.0
2009        4          Moretti Marcelo  2025-08-21 12:59:21         1.0
2010        4          Moretti Marcelo  2025-08-22 03:54:02         0.0

     Unnamed: 4 HS NORMALES HS NOCTURNAS  EXTRAS  TOTAL EX
0       ENTRADA         NaN          NaN     NaN       NaN
1        SALIDA         4.5            1     NaN       NaN
2       ENTRADA         NaN          NaN     NaN       NaN
3        SALIDA           9            1     NaN       NaN
4       ENTRADA         NaN          NaN     NaN       NaN
...         ...         ...          ...     ...       ...
2006    ENTRADA         NaN          NaN     NaN       NaN
2007     SALIDA         NaN          NaN     NaN       NaN
2008    ENTRADA         NaN          NaN     NaN       NaN
2009     SALIDA         NaN          NaN     NaN       NaN
2010    ENTRADA         NaN          NaN     NaN       NaN

[2011 rows x 9 columns], 'BARRETO Ramon':       QUINCENA            Unnamed: 1           Unnamed: 2  Unnamed: 3  \
0         12.0  Barreto Ramon Andres  2023-07-04 11:43:59         0.0
1         12.0  Barreto Ramon Andres  2023-07-04 20:03:45         1.0
2         12.0  Barreto Ramon Andres  2023-07-05 11:42:26         0.0
3         12.0  Barreto Ramon Andres  2023-07-05 20:04:17         1.0
4         12.0  Barreto Ramon Andres  2023-07-06 11:45:46         0.0
...        ...                   ...                  ...         ...
1283      12.0         Barreto Ramon  2025-08-20 04:00:07         1.0
1284      12.0         Barreto Ramon  2025-08-20 19:36:15         0.0
1285      12.0         Barreto Ramon  2025-08-21 04:01:25         1.0
1286      12.0         Barreto Ramon  2025-08-21 19:35:38         0.0
1287      12.0         Barreto Ramon  2025-08-22 04:02:59         1.0

     Unnamed: 4  HS NORMALES  HS NOCTURNAS EXTRAS TOTAL EX Unnamed: 9
0       ENTRADA          NaN           NaN    NaN      NaN        NaN
1        SALIDA          8.0           NaN    NaN      NaN        NaN
2       ENTRADA          NaN           NaN    NaN      NaN        NaN
3        SALIDA          8.0           NaN    NaN      NaN        NaN
4       ENTRADA          NaN           NaN    NaN      NaN        NaN
...         ...          ...           ...    ...      ...        ...
1283     SALIDA          NaN           NaN    NaN      NaN        NaN
1284    ENTRADA          NaN           NaN    NaN      NaN        NaN
1285     SALIDA          NaN           NaN    NaN      NaN        NaN
1286    ENTRADA          NaN           NaN    NaN      NaN        NaN
1287     SALIDA          NaN           NaN    NaN      NaN        NaN

[1288 rows x 10 columns], 'NOCENTI Liliana':      QUINCENA              Unnamed: 1           Unnamed: 2 Unnamed: 3  \
0          34  Nocenti Liliana Marina  2023-07-01 08:00:52          0
1          34  Nocenti Liliana Marina  2023-07-01 11:58:37          1
2          34  Nocenti Liliana Marina  2023-07-03 07:03:35          0
3          34  Nocenti Liliana Marina  2023-07-03 12:00:58          1
4          34  Nocenti Liliana Marina  2023-07-03 15:24:46          0
...       ...                     ...                  ...        ...
2328       34         Nocenti Liliana  2025-08-21 06:48:35          0
2329       34         Nocenti Liliana  2025-08-21 11:58:59          1
2330       34         Nocenti Liliana  2025-08-21 14:56:56          0
2331       34         Nocenti Liliana  2025-08-21 18:01:14          1
2332       34         Nocenti Liliana  2025-08-22 06:52:21          0

     Unnamed: 4 HS NORMALES HS NOCTURNAS EXTRAS  TOTAL EX Unnamed: 9
0       ENTRADA         NaN          NaN    NaN       NaN        NaN
1        SALIDA           4          NaN    NaN       NaN        NaN
2       ENTRADA         NaN          NaN    NaN       NaN        NaN
3        SALIDA           5          NaN    NaN       NaN        NaN
4       ENTRADA         NaN          NaN    NaN       NaN        NaN
...         ...         ...          ...    ...       ...        ...
2328    ENTRADA         NaN          NaN    NaN       NaN        NaN
2329     SALIDA         NaN          NaN    NaN       NaN        NaN
2330    ENTRADA         NaN          NaN    NaN       NaN        NaN
2331     SALIDA         NaN          NaN    NaN       NaN        NaN
2332    ENTRADA         NaN          NaN    NaN       NaN        NaN

[2333 rows x 10 columns], 'CIAN German':       QUINCENA   Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0         35.0  Cian German  2023-07-01 03:04:14         0.0    ENTRADA
1         35.0  Cian German  2023-07-01 11:47:46         1.0     SALIDA
2         35.0  Cian German  2023-07-03 22:59:51         0.0    ENTRADA
3         35.0  Cian German  2023-07-04 08:17:33         1.0     SALIDA
4         35.0  Cian German  2023-07-04 22:57:17         0.0    ENTRADA
...        ...          ...                  ...         ...        ...
1192      35.0  Cian German  2025-08-19 22:15:37         0.0    ENTRADA
1193      35.0  Cian German  2025-08-20 08:53:02         1.0     SALIDA
1194      35.0  Cian German  2025-08-20 22:12:30         0.0    ENTRADA
1195      35.0  Cian German  2025-08-21 08:47:32         1.0     SALIDA
1196      35.0  Cian German  2025-08-21 22:20:14         0.0    ENTRADA

     HS NORMALES HS NOCTURNAS EXTRAS  TOTAL EX
0            NaN          NaN    NaN       NaN
1            NaN          NaN    NaN       8.0
2            NaN          NaN    NaN       NaN
3              9            7    NaN       NaN
4            NaN          NaN    NaN       NaN
...          ...          ...    ...       ...
1192         NaN          NaN    NaN       NaN
1193         NaN          NaN    NaN       NaN
1194         NaN          NaN    NaN       NaN
1195         NaN          NaN    NaN       NaN
1196         NaN          NaN    NaN       NaN

[1197 rows x 9 columns], 'VARGAS Mario':      QUINCENA    Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0          91  Vargas Mario  2023-07-04 07:52:41         0.0    ENTRADA
1          91  Vargas Mario  2023-07-04 17:00:02         1.0     SALIDA
2          91  Vargas Mario  2023-07-05 07:59:48         0.0    ENTRADA
3          91  Vargas Mario  2023-07-05 17:03:39         1.0     SALIDA
4          91  Vargas Mario  2023-07-06 09:36:24         0.0    ENTRADA
...       ...           ...                  ...         ...        ...
1209       91  Vargas Mario  2025-08-19 18:21:18         1.0     SALIDA
1210       91  Vargas Mario  2025-08-20 08:00:35         0.0    ENTRADA
1211       91  Vargas Mario  2025-08-20 17:59:18         1.0     SALIDA
1212       91  Vargas Mario  2025-08-21 07:58:17         0.0    ENTRADA
1213       91  Vargas Mario  2025-08-21 18:02:32         1.0     SALIDA

     HS NORMALES HS NOCTURNAS EXTRAS  TOTAL EX Unnamed: 9
0            NaN          NaN    NaN       NaN        NaN
1              9          NaN    NaN       NaN        NaN
2            NaN          NaN    NaN       NaN        NaN
3              9          NaN    NaN       NaN        NaN
4            NaN          NaN    NaN       NaN        NaN
...          ...          ...    ...       ...        ...
1209         NaN          NaN    NaN       NaN        NaN
1210         NaN          NaN    NaN       NaN        NaN
1211         NaN          NaN    NaN       NaN        NaN
1212         NaN          NaN    NaN       NaN        NaN
1213         NaN          NaN    NaN       NaN        NaN

[1214 rows x 10 columns], 'FONTANA Silvio':       QUINCENA      Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0        115.0  Fontana Silvio  2023-09-04 07:22:01         0.0    ENTRADA
1        115.0  Fontana Silvio  2023-09-04 11:59:22         1.0     SALIDA
2        115.0  Fontana Silvio  2023-09-04 15:21:58         0.0    ENTRADA
3        115.0  Fontana Silvio  2023-09-04 19:00:07         1.0     SALIDA
4        115.0  Fontana Silvio  2023-09-05 07:19:33         0.0    ENTRADA
...        ...             ...                  ...         ...        ...
1522     115.0  Fontana Silvio  2025-08-20 08:53:40         1.0    ENTRADA
1523     115.0  Fontana Silvio  2025-08-20 08:53:46         0.0     SALIDA
1524     115.0  Fontana Silvio  2025-08-20 17:59:14         1.0    ENTRADA
1525     115.0  Fontana Silvio  2025-08-21 08:52:05         0.0     SALIDA
1526     115.0  Fontana Silvio  2025-08-21 18:57:56         1.0    ENTRADA

      HS NORMALES  HS NOCTURNAS EXTRAS  TOTAL EX
0             NaN           NaN    NaN       NaN
1             4.5           NaN    NaN       NaN
2             NaN           NaN    NaN       NaN
3             3.5           NaN    NaN       NaN
4             NaN           NaN    NaN       NaN
...           ...           ...    ...       ...
1522          NaN           NaN    NaN       NaN
1523          NaN           NaN    NaN       NaN
1524          NaN           NaN    NaN       NaN
1525          NaN           NaN    NaN       NaN
1526          NaN           NaN    NaN       NaN

[1527 rows x 9 columns], 'GOMEZ Ramon':      QUINCENA   Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0         123  Gomez Ramon  2023-07-03 23:42:17         0.0    ENTRADA
1         123  Gomez Ramon  2023-07-04 08:41:13         1.0     SALIDA
2         123  Gomez Ramon  2023-07-05 08:48:56         0.0    ENTRADA
3         123  Gomez Ramon  2023-07-05 18:30:06         1.0     SALIDA
4         123  Gomez Ramon  2023-07-05 23:43:47         0.0    ENTRADA
...       ...          ...                  ...         ...        ...
1114      123  Gomez Ramon  2025-08-19 17:08:31         1.0     SALIDA
1115      123  Gomez Ramon  2025-08-20 07:54:18         0.0    ENTRADA
1116      123  Gomez Ramon  2025-08-20 20:38:18         1.0     SALIDA
1117      123  Gomez Ramon  2025-08-21 07:42:11         0.0    ENTRADA
1118      123  Gomez Ramon  2025-08-21 21:11:44         1.0     SALIDA

      HS NORMALES  HS NOCTURNAS EXTRAS  TOTAL EX
0             NaN           NaN    NaN       NaN
1             8.5           6.0    NaN       NaN
2             NaN           NaN    NaN       NaN
3             9.5           6.0    NaN       NaN
4             NaN           NaN    NaN       NaN
...           ...           ...    ...       ...
1114          9.0           NaN    NaN       NaN
1115          NaN           NaN    NaN       NaN
1116         12.5           NaN    NaN       NaN
1117          NaN           NaN    NaN       NaN
1118         13.0           NaN    NaN       NaN

[1119 rows x 9 columns], 'CARABALLO Rosario':       QUINCENA         Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0        137.0  Caraballo Rosario  2023-07-04 03:43:25         0.0        NaN
1        137.0  Caraballo Rosario  2023-07-04 13:00:14         1.0        NaN
2        137.0  Caraballo Rosario  2023-07-05 03:41:03         0.0        NaN
3        137.0  Caraballo Rosario  2023-07-05 13:00:31         1.0        NaN
4        137.0  Caraballo Rosario  2023-07-06 03:43:30         0.0        NaN
...        ...                ...                  ...         ...        ...
1216     137.0  Caraballo Rosario  2025-08-19 18:57:35         1.0     SALIDA
1217     137.0  Caraballo Rosario  2025-08-20 08:45:08         0.0    ENTRADA
1218     137.0  Caraballo Rosario  2025-08-20 17:59:10         1.0     SALIDA
1219     137.0  Caraballo Rosario  2025-08-21 08:48:56         0.0    ENTRADA
1220     137.0  Caraballo Rosario  2025-08-21 18:02:28         1.0     SALIDA

      HS NORMALES  HS NOCTURNAS  EXTRAS  TOTAL EX
0             NaN           NaN     NaN       NaN
1             9.0           2.0     NaN       NaN
2             NaN           NaN     NaN       NaN
3             9.0           2.0     NaN       NaN
4             NaN           NaN     NaN       NaN
...           ...           ...     ...       ...
1216          NaN           NaN     NaN       NaN
1217          NaN           NaN     NaN       NaN
1218          NaN           NaN     NaN       NaN
1219          NaN           NaN     NaN       NaN
1220          NaN           NaN     NaN       NaN

[1221 rows x 9 columns], 'BARCA Fabian':       QUINCENA    Unnamed: 1           Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0        141.0  BARCA FABIAN  2023-07-04 03:55:35          0    ENTRADA
1        141.0  BARCA FABIAN  2023-07-04 13:05:47          1     SALIDA
2        141.0  BARCA FABIAN  2023-07-05 03:55:01          0    ENTRADA
3        141.0  BARCA FABIAN  2023-07-05 13:03:32          1     SALIDA
4        141.0  BARCA FABIAN  2023-07-06 03:54:25          0    ENTRADA
...        ...           ...                  ...        ...        ...
1463     141.0  Barca Fabian  2025-08-19 23:51:01          0    ENTRADA
1464     141.0  Barca Fabian  2025-08-20 09:17:46          1     SALIDA
1465     141.0  Barca Fabian  2025-08-21 06:20:39          0    ENTRADA
1466     141.0  Barca Fabian  2025-08-21 15:53:44          1     SALIDA
1467     141.0  Barca Fabian  2025-08-22 02:57:41          0    ENTRADA

      HS NORMALES HS NOCTURNAS  EXTRAS  TOTAL EX Unnamed: 9
0             NaN          NaN     NaN       NaN        NaN
1             9.0            2     NaN       NaN        NaN
2             NaN          NaN     NaN       NaN        NaN
3             9.0            2     NaN       NaN        NaN
4             NaN          NaN     NaN       NaN        NaN
...           ...          ...     ...       ...        ...
1463          NaN          NaN     NaN       NaN        NaN
1464          NaN          NaN     NaN       NaN        NaN
1465          NaN          NaN     NaN       NaN        NaN
1466          NaN          NaN     NaN       NaN        NaN
1467          NaN          NaN     NaN       NaN        NaN

[1468 rows x 10 columns], 'NACICH Olga':      QUINCENA           Unnamed: 1           Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0         202  Nacich Olga Beatriz  2023-07-01 07:56:18          0    ENTRADA
1         202  Nacich Olga Beatriz  2023-07-01 12:00:20          1     SALIDA
2         202  Nacich Olga Beatriz  2023-07-03 07:20:06          0    ENTRADA
3         202  Nacich Olga Beatriz  2023-07-03 12:04:13          1     SALIDA
4         202  Nacich Olga Beatriz  2023-07-03 15:15:30          0    ENTRADA
...       ...                  ...                  ...        ...        ...
2282      202  Nacich Olga Beatriz  2025-08-21 06:47:30          0    ENTRADA
2283      202  Nacich Olga Beatriz  2025-08-21 11:59:25          1     SALIDA
2284      202  Nacich Olga Beatriz  2025-08-21 14:32:31          0    ENTRADA
2285      202  Nacich Olga Beatriz  2025-08-21 17:58:03          1     SALIDA
2286      202  Nacich Olga Beatriz  2025-08-22 06:46:43          0    ENTRADA

     HS NORMALES HS NOCTURNAS EXTRAS  TOTAL EX
0            NaN          NaN    NaN       NaN
1              4          NaN    NaN       NaN
2            NaN          NaN    NaN       NaN
3            4.5          NaN    NaN       NaN
4            NaN          NaN    NaN       NaN
...          ...          ...    ...       ...
2282         NaN          NaN    NaN       NaN
2283         NaN          NaN    NaN       NaN
2284         NaN          NaN    NaN       NaN
2285         NaN          NaN    NaN       NaN
2286         NaN          NaN    NaN       NaN

[2287 rows x 9 columns], 'JARA Hugo':      QUINCENA          Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0         204  Jara Zaquelli Hugo  2023-07-01 08:05:48         0.0    ENTRADA
1         204  Jara Zaquelli Hugo  2023-07-01 12:13:05         1.0     SALIDA
2         204  Jara Zaquelli Hugo  2023-07-04 08:13:53         0.0    ENTRADA
3         204  Jara Zaquelli Hugo  2023-07-04 12:24:56         1.0     SALIDA
4         204  Jara Zaquelli Hugo  2023-07-04 15:52:04         0.0    ENTRADA
...       ...                 ...                  ...         ...        ...
2133      204  Jara Zaquelli Hugo  2025-08-20 17:53:13         1.0    ENTRADA
2134      204  Jara Zaquelli Hugo  2025-08-21 07:31:15         0.0     SALIDA
2135      204  Jara Zaquelli Hugo  2025-08-21 12:25:59         1.0    ENTRADA
2136      204  Jara Zaquelli Hugo  2025-08-21 13:56:35         0.0     SALIDA

In [5]:
# Renombrar todas las columnas en tu diccionario
for nombre, df in dict_gral.items():
    if df is not None and not df.empty:
        df.columns = [f'col{i+1}' for i in range(len(df.columns))]

In [6]:
dict_gral.keys()

dict_keys(['BERNALD Alberto', 'ARANDA Marcelo', 'MORETTI Marcelo', 'BARRETO Ramon', 'NOCENTI Liliana', 'CIAN German', 'VARGAS Mario', 'FONTANA Silvio', 'GOMEZ Ramon', 'CARABALLO Rosario', 'BARCA Fabian', 'NACICH Olga', 'JARA Hugo', 'ORZAN Orlando', 'VERA Enzo', 'PUCHETA Javier', 'VICENTIN Lucas', 'ROMERO Gabriel', 'CARDOZO Brian', 'CASALIS Carolina', 'PINTOS JOSE A', 'MENDOZA HECTOR', 'CENTURION JAVIER', 'MACHUCA Elian', 'SUAREZ Aldana', 'FRANCO BETIANA', 'CIAN NADIA'])

In [7]:
# Consulta la información del empleado usando la variable 'empleado'
dict_gral['FRANCO BETIANA']

    col1            col2                 col3  col4  col5      col6
0    369  FRANCO BETIANA  2025-05-05 07:10:31   1.0   0.0  00:00:00
1    369  FRANCO BETIANA  2025-05-05 11:57:18   1.0   1.0  04:46:47
2    369  FRANCO BETIANA  2025-05-05 14:44:17   1.0   0.0  00:00:00
3    369  FRANCO BETIANA  2025-05-05 17:59:44   1.0   1.0  03:15:27
4    369  FRANCO BETIANA  2025-05-06 12:01:32   1.0   1.0  18:01:48
..   ...             ...                  ...   ...   ...       ...
263  369  FRANCO BETIANA  2025-07-30 17:59:55   1.0   1.0  03:05:54
264  369  FRANCO BETIANA  2025-07-31 06:53:52   1.0   0.0  00:00:00
265  369  FRANCO BETIANA  2025-07-31 12:01:14   1.0   1.0  05:07:22
266  369  FRANCO BETIANA  2025-07-31 14:51:35   1.0   0.0  00:00:00
267  369  FRANCO BETIANA  2025-07-31 18:01:38   1.0   1.0  03:10:03

[268 rows x 6 columns]

In [8]:
dict_gral['BERNALD Alberto']

,col1,col2,col3,col4,col5,col6,col7,col8,col9
0,2.0,Bernald Alberto,2023-07-01 07:49:21,0.0,ENTRADA,NaN,NaN,NaN,NaN
1,2.0,Bernald Alberto,2023-07-01 12:03:48,1.0,SALIDA,NaN,NaN,NaN,4.0
2,2.0,Bernald Alberto,2023-07-04 07:22:50,0.0,ENTRADA,NaN,NaN,NaN,NaN
3,2.0,Bernald Alberto,2023-07-04 12:01:06,1.0,SALIDA,4.5,NaN,NaN,NaN
4,2.0,Bernald Alberto,2023-07-04 15:12:28,0.0,ENTRADA,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1312,2.0,Bernald Alberto,2025-08-20 06:53:18,0.0,ENTRADA,NaN,NaN,NaN,NaN
1313,2.0,Bernald Alberto,2025-08-20 17:00:03,1.0,SALIDA,NaN,NaN,NaN,NaN
1314,2.0,Bernald Alberto,2025-08-21 06:52:34,0.0,ENTRADA,NaN,NaN,NaN,NaN
1315,2.0,Bernald Alberto,2025-08-21 16:59:12,1.0,SALIDA,NaN,NaN,NaN,NaN
1316,2.0,Bernald Alberto,2025-08-22 06:54:10,0.0,ENTRADA,NaN,NaN,NaN,NaN

In [6]:
# Une todos los DataFrames de un diccionario en uno solo

df_unificado = pd.concat(dict_gral.values(), ignore_index=True)

In [7]:
df_unificado.sample(25)

,QUINCENA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,HS NORMALES,HS NOCTURNAS,EXTRAS,TOTAL EX,Unnamed: 9,...,Unnamed: 7,Unnamed: 8,ID de usuario,Nombre,Fecha/Hora,Tipo de registro,INGRESO 11/08/2025,Unnamed: 0,FECHA Y HORA,DISPOSITIVO
30166,NaN,NaN,NaN,NaN,FERIADO,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35901,357,Picech Camila,2024-08-08 12:19:10,1.0,SALIDA,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,70,0,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21726,NaN,NaN,NaN,NaN,ENTRADA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14804,141.0,Barca Fabian,2024-01-29 15:53:39,0,ENTRADA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6423,34,Nocenti Liliana,2024-01-25 15:58:56,0,ENTRADA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32657,311,Ojeda Pablo,2024-11-19 12:06:03,1.0,NaN,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3100,4,Moretti Marcelo,2024-03-20 15:58:04,0.0,ENTRADA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2188,3.0,Aranda Marcelo,2025-02-25 11:00:01,1.0,SALIDA,8,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22568,288,Vera Enzo,2024-07-11 18:02:54,1,SALIDA,9.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32875,311,Ojeda Pablo,2025-02-17 15:50:10,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25850,303.0,Vicentin Lucas,2024-08-19 18:01:31,1,SALIDA,3.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18322,204,Jara Zaquelli Hugo,2023-08-18 07:31:47,0.0,ENTRADA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10979,115.0,Fontana Silvio,2024-03-07 19:01:22,1.0,SALIDA,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8860,35.0,Cian German,2024-11-05 03:01:36,0.0,ENTRADA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20098,204,Jara Zaquelli Hugo,2025-06-17 12:44:43,1.0,SALIDA,7.5,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7845,34,Nocenti Liliana,2025-05-26 12:00:23,1,SALIDA,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32829,311,Ojeda Pablo,2025-02-01 07:57:53,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42325,365,Franco Magdalena,2025-05-26 19:38:23,1.0,1,NaN,03:50:40,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31639,311,Ojeda Pablo,2023-09-20 12:03:53,1.0,NaN,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20980,263,Orzan Orlando,2024-05-15 21:30:57,1.0,SALIDA,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34460,326,Ruiz Alexis,2024-12-31 12:31:17,1.0,SALIDA,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22790,288,Vera Enzo,2024-11-11 15:54:51,0,ENTRADA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#  Une los DataFrames agregando una columna con el nombre del empleado

dfs_con_empleado = []
    
for empleado, df in dict_gral.items():
    df_temp = df.copy()
    df_temp['EMPLEADO_KEY'] = empleado
    dfs_con_empleado.append(df_temp)

df_unificado = pd.concat(dfs_con_empleado, ignore_index=True)

In [9]:
df_unificado.sample(25)

,QUINCENA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,HS NORMALES,HS NOCTURNAS,EXTRAS,TOTAL EX,EMPLEADO_KEY,...,Unnamed: 7,Unnamed: 8,ID de usuario,Nombre,Fecha/Hora,Tipo de registro,INGRESO 11/08/2025,Unnamed: 0,FECHA Y HORA,DISPOSITIVO
19909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JARA Hugo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8352,35.0,Cian German,2023-11-15 14:24:13,1.0,SALIDA,8,NaN,NaN,NaN,CIAN German,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34680,326,Ruiz Alexis,2025-03-29 06:51:51,0.0,ENTRADA,NaN,NaN,NaN,NaN,RUIZ Alexis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13336,137.0,Caraballo Rosario,2023-09-27 14:02:18,1.0,SALIDA,8.0,NaN,NaN,NaN,CARABALLO Rosario,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784,2.0,Bernald Alberto,2024-09-19 18:30:31,1.0,SALIDA,8,NaN,NaN,2.5,BERNALD Alberto,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3606,4,Moretti Marcelo,2024-08-30 14:23:11,0.0,ENTRADA,NaN,NaN,NaN,NaN,MORETTI Marcelo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JARA Hugo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10937,115.0,Fontana Silvio,2024-02-23 06:53:26,0.0,ENTRADA,NaN,NaN,NaN,NaN,FONTANA Silvio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9046,35.0,Cian German,2025-03-20 22:06:04,0.0,ENTRADA,NaN,NaN,NaN,NaN,CIAN German,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1820,3.0,Aranda Marcelo,2024-06-25 07:52:21,0.0,ENTRADA,NaN,NaN,NaN,NaN,ARANDA Marcelo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23966,301,Pucheta Javier,2024-08-01 FALTA C/P,1.0,SALIDA,0,NaN,NaN,NaN,PUCHETA Javier,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12195,123,Gomez Ramon,2023-09-14 02:48:14,0.0,ENTRADA,NaN,NaN,NaN,NaN,GOMEZ Ramon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5262,12.0,Barreto Ramon,2024-10-03 08:17:02,0.0,ENTRADA,NaN,NaN,NaN,NaN,BARRETO Ramon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9880,91,Vargas Mario,2024-07-17 09:56:36,0.0,ENTRADA,NaN,NaN,NaN,NaN,VARGAS Mario,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7573,34,Nocenti Liliana,2025-02-12 18:01:24,1,SALIDA,3,NaN,NaN,NaN,NOCENTI Liliana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28267,310.0,Romero Gabriel,2025-08-01 09:01:57,1.0,SALIDA,9.0,6,NaN,NaN,ROMERO Gabriel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29049,344.0,Cardozo Brian,2024-04-09 19:00:12,1.0,SALIDA,3.5,NaN,NaN,NaN,CARDOZO Brian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27556,NaN,NaN,NaN,NaN,FERIADOS,32.0,NaN,NaN,NaN,ROMERO Gabriel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2050,3.0,Aranda Marcelo,2024-11-06 02:52:22,0.0,ENTRADA,NaN,NaN,NaN,NaN,ARANDA Marcelo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23076,288,Vera Enzo,2025-05-06 18:01:41,1,SALIDA,9.5,NaN,NaN,NaN,VERA Enzo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41243,356,Prieto Valentin,2025-05-03 07:57:17,1.0,0,00:00:00,NaN,NaN,NaN,PRIETO Valentin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33986,326,Ruiz Alexis,2024-06-24 06:01:40,0.0,ENTRADA,NaN,NaN,NaN,NaN,RUIZ Alexis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9517,91,Vargas Mario,2023-10-26 08:56:18,0.0,ENTRADA,NaN,NaN,NaN,NaN,VARGAS Mario,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9787,91,Vargas Mario,2024-05-20 18:01:44,1.0,SALIDA,8,NaN,NaN,NaN,VARGAS Mario,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12982,123,Gomez Ramon,2025-03-26 22:52:33,0.0,ENTRADA,NaN,NaN,NaN,NaN,GOMEZ Ramon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df_disp = pd.read_csv('../Data/Reg2025.csv')

In [3]:
df_disp

       ID de usuario           Fecha/Hora  Dispositivo Nro.  Tipo de registro
0                  2  2025-01-06 05:48:38                 1                 0
1                  2  2025-01-06 13:59:19                 1                 1
2                  2  2025-01-07 05:48:03                 1                 0
3                  2  2025-01-07 14:00:07                 1                 1
4                  2  2025-01-08 05:49:51                 1                 0
...              ...                  ...               ...               ...
14581            372  2025-08-25 06:39:16                 1                 0
14582            372  2025-08-25 11:38:51                 1                 0
14583            372  2025-08-26 06:43:42                 1                 0
14584            372  2025-08-26 15:05:48                 1                 0
14585            372  2025-08-27 06:44:47                 1                 2

[14586 rows x 4 columns]

In [7]:
df_disp['Fecha/Hora'] = pd.to_datetime(df_disp['Fecha/Hora'])
df_disp['Fecha'] = df_disp['Fecha/Hora'].dt.date
df_disp['Hora'] = df_disp['Fecha/Hora'].dt.time
df_disp.drop(columns=['Fecha/Hora'], inplace=True)